// 1. Put this file (rest-client.env.json.example) to resources folder
// 2. Rename the file to "rest-client.env.json"
// 3. Remove these string 3 strings from file (!)
{
  "localhost": {
    "web-server": "http://localhost:8080"
  }
}